.introduction {
    width: 720px;
    margin: 0 auto;
    text-align: justify;

    h1 {
        color: #e01b84;
        font-size: 2em;
        font-weight: 500;
        font-family: Roboto;
    }

    p {
        font-size: 1.2em;
    }
}

.references {
    margin: auto auto 0 auto;
    width: 720px;

    img {
        width: 200px;
        height: auto;
    }
}