@import "./core/breakpoints";

.centerdiv {
    padding: 2rem;
    background-color: #555555;
    height: 50vh;
    width: 641px;
    margin: auto;
    display: flex;
    border: solid transparent;
    border-radius: 10px;

    @include breakpoint(medium only) {
        width: 50vw;
    }

    @include breakpoint(small only) {
        width: auto;
        height: auto;
        padding: 1rem;
        margin: 0;
        border: none;
        border-radius: 0;
        flex: 1;
    }

    form {
        margin-top: 20px;
    }

    .button {
        padding: 0.7rem;
        background-color: $primaryColor-1;
        color: white;
        cursor: pointer;
        text-align: center;
        font-size: 1.0em;
        border: none;

        &:not(:first-child) {
            margin-left: 1.5rem;
        }
    }

    .button:hover {
        background-color: $primaryColor-2;
    }

    .fileDiv {
        margin: 1%;
        padding: 2%;
        cursor: pointer;
        background-color: #777777;
        color: white;
        display: flex;
        justify-content: space-between;
    }

    .uploadFiles {
        background-color: #999999;
        height: 100%;
        padding: 1rem;
        overflow-y: auto;
    }
}