@import "./core/breakpoints";

.centerdiv {
    padding: 2rem;
    background-color: #555555;
    height: 50vh;
    width: 641px;
    margin: auto;
    border: solid transparent;
    justify-content: space-between;
    border-radius: 10px;

    @include breakpoint(medium only) {
        width: 50vw;
    }

    @include breakpoint(small only) {
        width: auto;
        height: auto;
        padding: 1rem;
        margin: 0;
        border: none;
        border-radius: 0;
        flex: 1;
    }

    form {
        margin-top: 20px;
    }

    .button {
        padding: 0.7rem;
        background-color: $primaryColor-1;
        color: white;
        cursor: pointer;
        text-align: center;
        font-size: 1.0em;
        border: none;

        &:not(:first-child) {
            margin-left: 1.5rem;
        }
    }

    .button:hover {
        background-color: $primaryColor-2;
    }

    .fileDiv {
        margin: 1%;
        padding: 2%;
        background-color: #777777;
        color: white;
        display: flex;

        >span:not(:last-child) {
            flex: 1;
        }

        :last-child {
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .uploadFiles {
        background-color: #999999;
        text-align: justify;
        padding: 1rem;
        overflow-y: auto;

        >:first-child {
            display: flex;
            justify-content: space-between;
            margin: 1%;
            border-bottom: solid 3px $primaryColor-1
        }
    }
}