@import "./core/breakpoints";

.button {
    padding: 0.7rem;
    background-color: #999999;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 1.0em;
    border: none;
    margin-left: 1.5rem;
}

.button:hover {
    background-color: #9CC3D5FF;
}

.fileDiv {
    
    margin: 1%;
    padding: 2%;
    cursor: pointer;
    background-color: #777777;
    color: white;
    display: flex;
    justify-content: space-between;
}

.uploadFiles {
    background-color: #999999;
    height: 75%;
    margin: 1.5rem;
    padding:1rem;
    overflow-y: scroll;
}

.centerdiv {
    width: 45%;
    margin: 5% auto;
    padding: 1rem;
    background-color: #555555;
    height: 25rem;

}

.hidden {
    display: none;
}