@import "./settings";

// Mixins import
@import "./core/viewport-indicator";

// Global markup
* {
    font-family: $defaultFont;
}

body {
    background-color: $backgroundColor;
    padding: 0;
    margin: 0;
}

// Components
@import "./Components/Header";
@import "./Components/Upload";
@import "./Components/App";

// Helpers
@include viewportIndicator;