@import "./settings";

* {
    font-family: $defaultFont;
}

html {
    height: 100%;
}

body {
    background-color: $backgroundColor;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    height: 100%;
}

.flex__container {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.medium-up {
    @include breakpoint(small only) {
        display: none !important;
    }
}